<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda - Banco Politécnico</title>
    <link rel="stylesheet" href="ayuda.component.css">
    <link rel="icon" type="favicon/x-icon" href="assets/img/banco.png">
</head>
<body>
    <header>
        <!-- Barra de navegación -->
        <div class="navbar">
            <!-- Texto dinámico en la barra de navegación -->
            <div class="text moving-text">Comprometidos contigo, hoy y siempre.</div>
            <nav>
                <ul>
                    <!-- Enlaces de navegación -->
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/nosotros">Nosotros</a></li>
                    <li><a routerLink="/contactos">Contacto</a></li>
                    <li><a routerLink="/ayuda">Ayuda</a></li>
                </ul>
            </nav>
        </div>

    </header>
    <div class="icono">
        <img src="assets/img/banco.png" alt="PoliBanco" class="logo">
        <h1 class="nombre">BANCO<br>POLITÉCNICO</h1>
    </div>
    <div class="faq-section">
        <h2>Preguntas Frecuentes</h2>
        <div class="faq-container">
            <div *ngFor="let faq of faqList" class="faq-item">
              <!-- Usamos $event.currentTarget para obtener el botón -->
              <button class="faq-question" (click)="toggleFaq($event.currentTarget)">{{ faq.question }}</button>
              <div class="faq-answer">
                <p>{{ faq.answer }}</p>
              </div>
            </div>
          </div>
    </div>
    
    <footer>
        <div class="footer-content">
            <!-- Mensaje de derechos de autor con año actual -->
            <p>&copy; 2024 Banco Politécnico. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script>
        document.querySelectorAll('.faq-question').forEach(button => {
            button.addEventListener('click', () => {
                const faqAnswer = button.nextElementSibling;
    
                button.classList.toggle('active');
    
                if (button.classList.contains('active')) {
                    faqAnswer.style.maxHeight = faqAnswer.scrollHeight + 'px';
                } else {
                    faqAnswer.style.maxHeight = 0;
                }
            });
        });
    </script>
    
</body>
</html>

