<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Politécnico</title>
    <link rel="icon" type="image/x-icon" href="assets/img/banco.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="user-recovery.component.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="icono">
            <img src="assets/img/banco.png" alt="PoliBanco" class="logo">
            <h1 class="nombre">BANCO<br>POLITÉCNICO</h1>
        </div>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/inicio">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="miPerfilDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi Perfil</a>
                        <div class="dropdown-menu" aria-labelledby="miPerfilDropdown">
                            <a class="dropdown-item" href="#">Ver Usuario</a>
                            <a class="dropdown-item" href="/FRONT/banco-politecnico/src/app/update-personal/update-personal.component.html">Actualizar Información Personal</a>
                            <a class="dropdown-item" href="#">Configuración de Seguridad</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="cuentaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cuenta</a>
                        <div class="dropdown-menu" aria-labelledby="cuentaDropdown">
                            <a class="dropdown-item" href="#">Resumen de Cuenta</a>
                            <a class="dropdown-item" href="#">Detalles de la Cuenta</a>
                            <a class="dropdown-item" href="#">Historial de Actividad</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="transaccionesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transacciones</a>
                        <div class="dropdown-menu" aria-labelledby="transaccionesDropdown">
                            <a class="dropdown-item" href="#">Pagos de Facturas</a>
                            <a class="dropdown-item" href="#">Historial de Transacciones</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ayudaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ayuda/Soporte</a>
                        <div class="dropdown-menu" aria-labelledby="ayudaDropdown">
                            <a class="dropdown-item" href="#">Preguntas Frecuentes</a>
                            <a class="dropdown-item" href="#">Contactar Soporte</a>
                            <a class="dropdown-item" href="#">Reportar un Problema</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">
                            <img src="assets/img/logout-icon.png" alt="Logout" class="logout-icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="cedula-form">
      <div class="form-content">
        <header class="form-header">
          <a routerLink="/home">
            <button class="back-button">
              <img src="assets/img/back.png" alt="Back Icon" class="icon" />
            </button>
          </a>
          <span>Ingresar Número de Cédula</span>
        </header>
        <div class="form-body">
          <p>Por favor ingrese su número de cédula.</p>
          <label for="cedula">Número de Cédula</label>
          <!-- <input type="text" id="cedula" placeholder="Número de Cédula" [(ngModel)]="cedula" required> -->
          <div *ngIf="cedulaError" class="text-danger">{{ cedulaError }}</div>
          <button [disabled]="!cedula" class="submit-button" (click)="onSubmit()">Enviar</button>
        </div>
      </div>
    </div>

    <footer class="footer mt-4">
        <div class="container">
            <p>&copy; 2024 Banco Politécnico. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
