<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Politécnico</title>
    <link rel="icon" type="favicon/x-icon" href="assets/img/banco.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="responder-preguntas-seguridad.component.css">
</head>
<body>
    <!--Barra de navegación-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/home">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contactos">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ayuda">Ayuda</a>
                </li>
            </ul>
            <div class="text moving-text">Comprometidos contigo, hoy y siempre.</div>
        </div>
    </nav>

    <div class="verification-form" *ngIf="questions.length > 0">
        <div class="form-content">
            <header class="form-header">
                <a routerLink="/reset-password">
                <button class="back-button" (click)="goBack()">
                    <img src="assets/img/back.png" alt="Back Icon" class="icon" />
                </button>
            </a>
                <span>Verificación de identidad</span>
            </header>
            <div class="form-body">
                <p>Seleccione una pregunta de seguridad para verificar su identidad:</p>
                <form (ngSubmit)="validateAnswer()">
                    <div class="form-group">
                        <label for="securityQuestion">Pregunta de Seguridad</label>
                        <select id="securityQuestion" class="form-control custom-select" [(ngModel)]="selectedQuestionIndex" name="question" required>
                            <option *ngFor="let question of questions; let i = index" [value]="i">{{ question }}</option>
                        </select>
                                                                    
                    </div>
                    <div class="form-group">
                        <label for="answer">Respuesta</label>
                        <input id="answer" type="text" class="form-control custom-select" [(ngModel)]="answer" name="answer" required />
                    </div>
                    <button type="submit" class="validate-button">Validar</button>
                </form>
                <div *ngIf="attempts > 0">
                    <p>Intentos restantes: {{ 3 - attempts }}</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Banco Politécnico. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
