<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Politécnico</title>
    <link rel="icon" type="favicon/x-icon" href="assets/img/banco.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="verificar-user-recovery.component.css">
</head>
<body>
    <header>
        <!-- Barra de navegación -->
        <div class="navbar">
            <!-- Texto dinámico en la barra de navegación -->
            <div class="text moving-text">Comprometidos contigo, hoy y siempre.</div>
            <nav>
                <ul>
                    <li><a routerLink="/home">Inicio</a></li>
                    <li><a routerLink="/nosotros">Nosotros</a></li>
                    <li><a routerLink="/contactos">Contacto</a></li>
                    <li><a routerLink="/ayuda">Ayuda</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Formulario de verificación -->
    <div class="verification-form">
        <div class="form-content">
        <form id="verificationForm" (ngSubmit)="onSubmit()" #form="ngForm">
            <h3>Verificación de identidad</h3>
            <p>Se ha enviado un código de verificación a su correo electrónico y/o número de teléfono proporcionado.</p>

            <div class="verification-code">
              <input type="text" id="digit1" name="digit1" maxlength="1" [(ngModel)]="digits[0]" (keydown)="onKeyDown($event, 0)" (input)="onInput($event, 0)" required autofocus>
              <input type="text" id="digit2" name="digit2" maxlength="1" [(ngModel)]="digits[1]" (keydown)="onKeyDown($event, 1)" (input)="onInput($event, 1)" required>
              <input type="text" id="digit3" name="digit3" maxlength="1" [(ngModel)]="digits[2]" (keydown)="onKeyDown($event, 2)" (input)="onInput($event, 2)" required>
              <input type="text" id="digit4" name="digit4" maxlength="1" [(ngModel)]="digits[3]" (keydown)="onKeyDown($event, 3)" (input)="onInput($event, 3)" required>
              <input type="text" id="digit5" name="digit5" maxlength="1" [(ngModel)]="digits[4]" (keydown)="onKeyDown($event, 4)" (input)="onInput($event, 4)" required>
            </div>

            <div class="buttons">
              <button type="button" (click)="resendCode()">Reenviar código</button>
            </div>

            <div class="form-buttons">
              <button type="submit" class="button-verificar">Verificar</button>
              <button type="button" (click)="goBack()" class="button-regresar">Regresar</button>
            </div>
          </form>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <!-- Mensaje de derechos de autor con año actual -->
            <p>&copy; 2024 Banco Politécnico. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>
</html>
