<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Politécnico</title>
    <link rel="icon" type="favicon/x-icon" href="assets/img/banco.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="agregar-comentario.component.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <!-- Texto dinámico en la barra de navegación -->
        <div class="icono">
            <img src="assets/img/banco.png" alt="PoliBanco" class="logo">
            <h1 class="nombre">BANCO<br>POLITÉCNICO</h1>
        </div>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" (click)="navigateToInicio()">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="miPerfilDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi Perfil</a>
                        <div class="dropdown-menu" aria-labelledby="miPerfilDropdown">
                            <a class="dropdown-item" (click)="navigateToVerUsuario()">Ver Usuario</a>
                            <a class="dropdown-item" (click)="navigateToActualizarInformacion()">Actualizar Información Personal</a>
                            <a class="dropdown-item" (click)="navigateToChangePassword()">Cambiar contraseña</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="cuentaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cuenta</a>
                        <div class="dropdown-menu" aria-labelledby="cuentaDropdown">
                            <a class="dropdown-item" (click)="navigateToNewAccount()">Abrir una nueva cuenta bancaria</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="transaccionesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transacciones</a>
                        <div class="dropdown-menu" aria-labelledby="transaccionesDropdown">
                            <a class="dropdown-item" (click)="navigateToTransfer()">Transferencias</a>
                            <a class="dropdown-item" (click)="navigateToAddContact()">Mis contactos</a>
                            <a class="dropdown-item" (click)="navigateToHistorialTransacciones()">Historial de Transacciones</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ayudaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ayuda/Soporte</a>
                        <div class="dropdown-menu" aria-labelledby="ayudaDropdown">
                            <a class="dropdown-item" (click)="navigateToFAQ()">Preguntas Frecuentes</a>
                            <a class="dropdown-item" (click)="navigateToContactarSoporte()">Contactar Soporte</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']">
                            <img src="assets/img/logout-icon.png" alt="Logout" class="logout-icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="transfer-form">
        <div class="form-content">
          <header class="form-header">
            <button class="back-button" (click)="goBack()">
                <img src="assets/img/back.png" alt="Back Icon" class="icon" />
            </button>
            <span>Agregar un comentario</span>
          </header>
          <div class="form-body">
            <label for="amount">Monto</label>
            <div class="amount-display">
              <span>$</span>
              <span>{{ amount }}</span>
            </div>
       
            <div class="beneficiary-info">
              <label>Para</label>
              <div class="beneficiary-details">
                <span>{{ contactName }}</span>
                <hr>
                <span>Nro. {{ contactNumber }}</span>
                <button class="details-button">
                  <i class="material-icons icon">chevron_right</i>
                </button>
              </div>
            </div>
            <label for="comment">Ingrese un comentario:</label>
            <input type="text" id="comment" [(ngModel)]="comment" placeholder="Opcional: Pago">
            
            <a (click)="continue()">
            <button class="continue-button" (click)="navigateToConfirmarTransferencia()">Siguiente</button>
            </a>
            
          </div>
        </div>
      </div>
      
    <footer>
        <div class="footer-content">
            <!-- Mensaje de derechos de autor con año actual -->
            <p>&copy; 2024 Banco Politécnico. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
