<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Banco Politécnico</title>
    <link rel="stylesheet" href="contactos.component.html">
    <link rel="icon" type="favicon/x-icon" href="../img/banco.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6.3.1/dist/tippy.css"> <!-- Estilos para tooltips -->


</head>
<body>
    <main>
        <div class="container">
            <header>
                <div class="navbar">
                    <div class="text moving-text">Comprometidos contigo, hoy y siempre.</div>
                    <nav>
                        <ul>
                            <li><a routerLink="/home">Inicio</a></li>
                            <li><a routerLink="/nosotros">Nosotros</a></li>
                            <li><a routerLink="/contactos">Contacto</a></li>
                            <li><a routerLink="/ayuda">Ayuda</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="icono">
                <img src="../img/banco.png" alt="PoliBanco" class="logo">
                <h1 class="nombre">BANCO<br>POLITÉCNICO</h1>
            </div>
            <div class="contact-section">
                <div class="contact-info">
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i>Av. Ladrón de Guevara E11-253, Quito 170143</li>
                        <li><i class="fas fa-phone-alt"></i><a href="https://wa.me/593980431877" target="_blank">+593 98 043 1877</a></li>
                        <li><i class="fas fa-envelope"></i><a href="mailto:info@bancopolitecnico.com" target="_blank">info@bancopolitecnico.com</a></li>
                    </ul>
                    <div class="social-media">
                        <a href="https://facebook.com" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="https://instagram.com" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
                    </div>                   
                </div>
                <form class="contact-form" id="contact-form" #contactForm="ngForm" (ngSubmit)="submitForm()">
                    <div class="input-group">
                        <label for="nombre">Nombre*</label>
                        <input type="text" id="nombre" name="nombre" [(ngModel)]="formData.nombre" #nombre="ngModel" required pattern="[a-zA-Z ]*">
                        <span class="icon-check"><i class="fas fa-check-circle" *ngIf="nombre.valid && (nombre.dirty || nombre.touched)"></i></span>
                        <span class="icon-error"><i class="fas fa-exclamation-circle" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"></i></span>
                        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                            <span *ngIf="nombre.errors?.['required']">Este campo es obligatorio.</span>
                            <span *ngIf="nombre.errors?.['pattern']">Ingrese un nombre válido (solo letras y espacios).</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <label for="apellido">Apellido*</label>
                        <input type="text" id="apellido" name="apellido" [(ngModel)]="formData.apellido" #apellido="ngModel" required pattern="[a-zA-Z ]*">
                        <span class="icon-check"><i class="fas fa-check-circle" *ngIf="apellido.valid && (apellido.dirty || apellido.touched)"></i></span>
                        <span class="icon-error"><i class="fas fa-exclamation-circle" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"></i></span>
                        <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                            <span *ngIf="apellido.errors?.['required']">Este campo es obligatorio.</span>
                            <span *ngIf="apellido.errors?.['pattern']">Ingrese un apellido válido (solo letras y espacios).</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <label for="email">Email*</label>
                        <input type="email" id="email" name="email" [(ngModel)]="formData.email" #email="ngModel" required email>
                        <span class="icon-check"><i class="fas fa-check-circle" *ngIf="email.valid && (email.dirty || email.touched)"></i></span>
                        <span class="icon-error"><i class="fas fa-exclamation-circle" *ngIf="email.invalid && (email.dirty || email.touched)"></i></span>
                        <div *ngIf="email.invalid && (email.dirty || email.touched)">
                            <span *ngIf="email.errors?.['required']">Este campo es obligatorio.</span>
                            <span *ngIf="email.errors?.['email']">Ingrese un email válido.</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <label for="mensaje">¿Cómo podemos ayudarte?*</label>
                        <textarea id="mensaje" name="mensaje" [(ngModel)]="formData.mensaje" #mensaje="ngModel" required></textarea>
                        <span class="icon-check"><i class="fas fa-check-circle" *ngIf="mensaje.valid && (mensaje.dirty || mensaje.touched)"></i></span>
                        <span class="icon-error"><i class="fas fa-exclamation-circle" *ngIf="mensaje.invalid && (mensaje.dirty || mensaje.touched)"></i></span>
                        <div *ngIf="mensaje.invalid && (mensaje.dirty || mensaje.touched)">
                            <span *ngIf="mensaje.errors?.['required']">Este campo es obligatorio.</span>
                        </div>
                    </div>
                    <label>
                        <input type="checkbox" name="privacidad" [(ngModel)]="formData.privacidad" required>
                        Acepto la Política de Privacidad
                    </label>
                    <button type="submit">¡Contáctanos!</button>
                </form>
                
            </div>
            <div class="map-section">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7908947983874!2d-78.49470407304686!3d-0.2124413000000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a107e1cd44b%3A0x88a284f66939ed4!2sESCUELA%20POLIT%C3%89CNICA%20NACIONAL!5e0!3m2!1ses-419!2sec!4v1719955326887!5m2!1ses-419!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <!-- Mensaje de derechos de autor con año actual -->
            <p>&copy; 2024 Banco Politécnico. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
</body>
</html>
