<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Politécnico</title>
    <link rel="icon" type="image/x-icon" href="assets/img/banco.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="inicio.component.css">
</head>
<body>

    <!--Barra de navegación-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="icono">
            <img src="assets/img/banco.png" alt="PoliBanco" class="logo">
            <h1 class="nombre">BANCO<br>POLITÉCNICO</h1>
        </div>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" (click)="navigateToInicio()">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="miPerfilDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi Perfil</a>
                        <div class="dropdown-menu" aria-labelledby="miPerfilDropdown">
                            <a class="dropdown-item" (click)="navigateToVerUsuario()">Ver usuario</a>
                            <a class="dropdown-item" (click)="navigateToActualizarInformacion()">Actualizar información personal</a>
                            <a class="dropdown-item" (click)="navigateToChangePassword()">Cambiar contraseña</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="cuentaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cuenta</a>
                        <div class="dropdown-menu" aria-labelledby="cuentaDropdown">
                            <a class="dropdown-item" (click)="navigateToNewAccount()">Abrir una nueva cuenta bancaria</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="transaccionesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transacciones</a>
                        <div class="dropdown-menu" aria-labelledby="transaccionesDropdown">
                            <a class="dropdown-item" (click)="navigateToTransfer()">Transferencias</a>
                            <a class="dropdown-item" (click)="navigateToAddContact()">Mis contactos</a>
                            <a class="dropdown-item" (click)="navigateToHistorialTransacciones()">Historial de transacciones</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ayudaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ayuda/Soporte</a>
                        <div class="dropdown-menu" aria-labelledby="ayudaDropdown">
                            <a class="dropdown-item" (click)="navigateToFAQ()">Preguntas frecuentes</a>
                            <a class="dropdown-item" (click)="navigateToContactarSoporte()">Contactar soporte</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">
                            <img src="assets/img/logout-icon.png" alt="Logout" class="logout-icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Nombre de usuario-->
    <div *ngIf="usuario" class="alert alert-info">
        <strong>Usuario:</strong> {{ nombre_completo }}
    </div>

    <!--Mis cuentas-->
    <h2 class="mis-cuentas">Mis Cuentas</h2>
    <div class="account-summary-container">
        <div class="account-summary">
            <div class="account-cards-wrapper" id="accountCardsWrapper">
                <div class="account-card" *ngFor="let account of accounts; let i = index" [class.hidden]="i !== currentIndex">
                    <div class="account-header">
                        <span>{{ account.cuentaNombre }}</span>
                        <span class="favorite-account"><img src="assets/img/star-icon.png" alt="Favorite" class="favorite-icon"> Cuenta favorita</span>
                    </div>
                    <div class="account-body">
                        <p>{{ account.numeroCuenta }}</p>
                        <br>
                        <span>Saldo disponible</span>
                        <div class="account-balance">
                            <span class="balance-amount">{{ showBalance ? '$' + account.saldo : '*****' }}</span>
                            <img src="assets/img/eye-icon.png" alt="Ver saldo" class="view-balance-icon" *ngIf="!showBalance" (click)="toggleBalanceVisibility()">
                            <img src="assets/img/eye-slash-icon.png" alt="Ocultar saldo" class="view-balance-icon" *ngIf="showBalance" (click)="toggleBalanceVisibility()">
                          </div>
                        <div class="tipo-cuenta">
                            <span>{{ account.tipoCuenta === 'Ahorro' ? 'Cuenta de Ahorro' : 'Cuenta Corriente' }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="account-navigation" *ngIf="totalCards > 1">
            <button (click)="prevCard()" [disabled]="currentIndex === 0">
                <!-- Aquí puedes agregar tu propio icono -->
                <img src="assets/img/izquierda.png" alt="Anterior">
            </button>
            <button (click)="nextCard()" [disabled]="currentIndex === totalCards - 1">
                <!-- Aquí puedes agregar tu propio icono -->
                <img src="assets/img/derecha.png" alt="Siguiente">
            </button>
        </div>
        
             
    </div>
    
    <!--Accesos rápidos-->
    <div class="quick-access-container">
        <h2 class="accesos-rapidos">Accesos Rápidos</h2>
        <div class="quick-access">
            <div class="quick-access-card">
                <img src="assets/img/transfer-icon.png" alt="Transferencias" class="quick-access-icon">
                <div class="quick-access-title">Transferencias</div>
                <a (click)="navigateToTransfer()" class="quick-access-link">Ir a Transferencias</a> 
            </div>
            <div class="quick-access-card">
                <img src="assets/img/cuenta-bancaria.png" alt="Pago de Facturas" class="quick-access-icon">
                <div class="quick-access-title">Crear una cuenta</div>
                <a (click)="navigateToNewAccount()" class="quick-access-link">Ir a crear una cuenta</a>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Banco Politécnico. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
