<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Politécnico</title>
    <link rel="icon" type="favicon/x-icon" href="assets/img/banco.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="transferencia.component.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <!-- Texto dinámico en la barra de navegación -->
        
        <div class="icono">
            <img src="assets/img/banco.png" alt="PoliBanco" class="logo">
            <h1 class="nombre">BANCO<br>POLITÉCNICO</h1>
        </div>
        <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="miPerfilDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi Perfil</a>
                        <div class="dropdown-menu" aria-labelledby="miPerfilDropdown">
                            <a class="dropdown-item" href="#">Ver Usuario</a>
                            <a class="dropdown-item" href="#">Actualizar Información Personal</a>
                            <a class="dropdown-item" href="#">Configuración de Seguridad</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="cuentaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cuenta</a>
                        <div class="dropdown-menu" aria-labelledby="cuentaDropdown">
                            <a class="dropdown-item" href="#">Abrir una nueva cuenta bancaria</a>
                            <a class="dropdown-item" href="#">Detalles de la Cuenta</a>
                            <a class="dropdown-item" href="#">Historial de Actividad</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="transaccionesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transacciones</a>
                        <div class="dropdown-menu" aria-labelledby="transaccionesDropdown">
                            <a class="dropdown-item" href="#">Transferencias</a>
                            <a class="dropdown-item" href="#">Pagos de Facturas</a>
                            <a class="dropdown-item" href="#">Historial de Transacciones</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ayudaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ayuda/Soporte</a>
                        <div class="dropdown-menu" aria-labelledby="ayudaDropdown">
                            <a class="dropdown-item" href="#">Preguntas Frecuentes</a>
                            <a class="dropdown-item" href="#">Contactar Soporte</a>
                            <a class="dropdown-item" href="#">Reportar un Problema</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']">
                            <img src="assets/img/logout-icon.png" alt="Logout" class="logout-icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="transfer-form">
        <div class="form-content">
            <div class="form-header">
                <a routerLink="/inicio">
                <button class="back-button" (click)="goBack()">
                    <img src="assets/img/back.png" alt="Back Icon" class="icon" />
                </button>
                </a>
                <span>Monto de la transferencia</span>
            </div>
            <div class="form-body">
                <!-- Opción para seleccionar la cuenta desde la que se va a transferir -->
                <label for="from-account">Seleccione la cuenta desde la cual desea transferir</label>
                <select id="from-account" (change)="onAccountChange($event)" [(ngModel)]="selectedAccount">
                    <option *ngFor="let account of userAccounts" [value]="account.numeroCuenta">Cuenta {{ account.tipoCuenta }} - {{ account.cuentaNombre }}</option>
                </select>
                <label for="amount">Ingrese el monto de la transferencia</label>
                <input
                    type="text"
                    id="amount"
                    placeholder="$0.00"
                    (input)="onAmountChange($event)"
                    (blur)="formatAmount()"
                    [(ngModel)]="amount"
                />
                <button class="beneficiary-button" [disabled]="!amount" (click)="chooseBeneficiary()">
                    <i class="material-icons icon">person</i> Elegir un beneficiario
                </button>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="footer-content">
            <!-- Mensaje de derechos de autor con año actual -->
            <p>&copy; 2024 Banco Politécnico. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
