<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de nosotros - Banco Politécnico</title>
    <link rel="icon" type="favicon/x-icon" href="assets/img/banco.png">
    <link rel="stylesheet" href="nosotros.component.css">
    
</head>
<body>
    <header>
        <!-- Barra de navegación -->
        <div class="navbar">
            <!-- Texto dinámico en la barra de navegación -->
            <div class="text moving-text">Comprometidos contigo, hoy y siempre.</div>
            <nav>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/nosotros">Nosotros</a></li>
                    <li><a routerLink="/contactos">Contacto</a></li>
                    <li><a routerLink="/ayuda">Ayuda</a></li>
                </ul>
            </nav>
        </div>

    </header>
    <div class="icono">
        <img src="assets/img/banco.png" alt="PoliBanco" class="logo">
        <h1 class="nombre">BANCO<br>POLITÉCNICO</h1>
    </div>
    <div class="container">
        
        <div class="box">
            <div class="icon mission-icon">
                <img src="assets/img/mision.png" alt="Ícono de Misión">
            </div>
            <h2>NUESTRA MISIÓN</h2>
            <p>Proveer servicios financieros de alta calidad y accesibles para todos, fomentando el desarrollo económico y el bienestar de nuestras comunidades.</p>
        </div>
        <div class="box">
            <div class="icon vision-icon">
                <img src="assets/img/vision.png" alt="Ícono de Visión">
            </div>
            <h2>NUESTRA VISIÓN</h2>
            <p>Ser el banco líder en innovación y servicio al cliente, reconocido por nuestra contribución al progreso económico y social del país.</p>
        </div>
        <div class="box">
            <div class="icon values-icon">
                <img src="assets/img/valores.png" alt="Ícono de Valores">
            </div>
            <h2>NUESTROS VALORES</h2>
            <p>Integridad, responsabilidad, excelencia, compromiso con la comunidad y respeto por las personas.</p>
        </div> 
    </div>
    <div class="video-container">
        <video width="560" height="315" src="assets/img/videobanco.mp4" autoplay muted loop>
            Your browser does not support the video tag.
        </video>
    </div>    
    <footer>
        <div class="footer-content">
            <!-- Mensaje de derechos de autor con año actual -->
            <p>&copy; 2024 Banco Politécnico. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>
