<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de registro - Banco Politécnico</title>
    <link rel="stylesheet" href="confirmar-registro.component.css">
    <link rel="icon" type="favicon/x-icon" href="assets/img/banco.png">
    
</head>
<body>
    <div class="container">
        <!-- Encabezado de la página -->
        <header>
            <div class="header-left">
                <!-- Logotipo del banco -->
                <div class="icono">
                    <img src="assets/img/banco.png" alt="PoliBanco" class="logo">
                    <h1 class="nombre">BANCO<br>POLITÉCNICO</h1>
                </div>
            </div>
            <div class="header-right">
                <p></p>
            </div>
        </header>
        <!-- Contenido principal -->
        <main>
            <!-- Pasos de registro -->
            <div class="welcome-message">
                <h2>Sigue estos pasos para registrarte </h2>
                <ol>
                    <li class="noactive">
                        <img src="assets/img/paso1.png" alt="Paso 1" class="step-icon">
                        Proporciona tu información personal 
                    </li>
                    <li class="noactive">
                        <img src="assets/img/paso2.png" alt="Paso 2" class="step-icon">
                        Verificación de identidad
                    </li>
                    <li class="noactive">
                        <img src="assets/img/paso3.png" alt="Paso 3" class="step-icon">
                        Crea tu usuario y contraseña 
                    </li>
                    <li class="noactive">
                        <img src="assets/img/paso4.png" alt="Paso 4" class="step-icon">
                        Selecciona preguntas de seguridad
                    </li>
                    <li class="noactive">
                        <img src="assets/img/paso5.png" alt="Paso 5" class="step-icon">
                        Elige el tipo de cuenta
                    </li>
                    <li class="active">
                        <img src="assets/img/paso6.png" alt="Paso 6" class="step-icon active">
                        Confirmación del registro
                    </li>
                </ol>
            </div>
            <!-- Confirmación de Registro -->
            <div class="confirmation-message">
                <h2>¡Registro exitoso!</h2>
                <div class="icon-container">
                  <img src="assets/img/comprobado.png" alt="Ícono de éxito">
                </div>
                <p>A continuación, los detalles de tu cuenta:</p>
                <ul>
                    <li><strong>Tipo de cuenta:</strong> {{ tipoCuenta }}</li>
                    <li><strong>Nombre de la cuenta:</strong> {{ cuentaNombre }}</li>
                    <li><strong>Número de cuenta:</strong> {{ cuentaNumero }}</li>
                </ul>
                  
                <!-- Botones de acción del formulario -->
                <div class="buttons">
                  <button type="submit" (click)="onSubmit()">Iniciar sesión</button>
                </div>
              </div>
              
        </main>
    </div>
</body>
</html>
