/*Crear credenciales de acceso*/

/* Estilos para el cuerpo del documento */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E3F5EE !important;
    color: #333;
}

/* Estilos para el contenedor principal */
.container {
    width: 100%;
    max-width: 1000px;
    margin: 100px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Animación */
@keyframes slideAndFade {
    0% {
        transform: translateX(-100%);
        opacity: 1;
    }
    70% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* Estilos para el texto animado */
.moving-text {
    display: flex;
    font-size: 1em;
    color: #C7D8E4;
    animation: slideAndFade 3s linear normal;
    width: 40%;
    text-align: center;
    opacity: 0;
}

/* Estilos para el contenedor del ícono */
.icono {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-bottom: 20px;
}

/* Estilos para el logotipo dentro del contenedor del ícono */
.icono img.logo {
    max-width: 60px;
    margin-right: 10px;
}

/* Estilos para el nombre dentro del contenedor del ícono */
.icono h1.nombre {
    font-size: 20px;
    color: #2E86C1;
    margin: 0;
    font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
}

/*Formulario*/
/* Estilos para el formulario de registro */
.registration-form {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

/* Estilos para el formulario dentro del formulario de registro */
.registration-form form {
    display: flex;
    flex-direction: column;
    padding: 5px 35px;
}

/* Estilos para el título del formulario de registro */
.registration-form h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #206ea9;
}

/* Estilos para grupos de campos en el formulario */
.form-group {
    margin-bottom: 15px;
}

/* Estilos para etiquetas de campos en el formulario */
.form-group label {
    display: block;
    margin-bottom: 4px;
    color: #333;
}

/* Estilos para campos de entrada en el formulario */
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.form-group input:focus {
    border-color: #206ea9;
    outline: none;
}

/* Estilos para el grupo de botones del formulario */
.btn-registrar {
    background-color: #206ea9;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn-registrar{
    background-color: #206ea9;
}

.btn-registrar:hover {
    background-color: #2E86C1;
}

.form-buttons {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente si es necesario */
    width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
    margin-top: 20px; /* Añade un margen superior si es necesario */
}






/*Responsive*/

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .main-left{
        padding-left: 150px;
    }
    .main-left, .verification-form {
        width: 100%;
        margin-bottom: 20px;
    }

    .verification-form {
        padding: 10px;
    }
}

/*Iconos de los campos del formulario*/

.form-group {
    position: relative;
}

.form-group input {
    width: 100%;
    padding-right: 10px; /* Espacio para el icono */
}

.icon-check,
.icon-error {
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    display: none; /* Ocultar por defecto */
    padding-top: 25px;
    padding-right: 20px;
}

.icon-check {
    color: green;
}

.icon-error {
    color: red;
}

.requirements .error-icon img {
    width: 20px; /* Ajusta el tamaño del ícono según sea necesario */
    height: 20px;
    margin-right: 10px; /* Añade un margen derecho al ícono */
}

.text{
    color: black;
    font-size: 10px;
    text-align: justify;
    padding-top: 5px;
  }

/* Mensajes de error */
.error{
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    padding: 5px; /* Reducir el padding */
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.85em; /* Reducir el tamaño de la fuente */
    max-width: 100%; /* Limitar el ancho máximo */
    word-wrap: break-word; /* Permitir que las palabras se dividan en varias líneas */
}

.error-message {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    padding: 5px; /* Reducir el padding */
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.85em; /* Reducir el tamaño de la fuente */
    max-width: 100%; /* Limitar el ancho máximo */
    word-wrap: break-word; /* Permitir que las palabras se dividan en varias líneas */

}

.alert.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}