<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Politécnico</title>
    <link rel="icon" type="favicon/x-icon" href="assets/img/banco.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="verificar-crear-cuenta.component.css">
</head>
<body>
    <!--Barra de navegación-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="icono">
            <img src="assets/img/banco.png" alt="PoliBanco" class="logo">
            <h1 class="nombre">BANCO<br>POLITÉCNICO</h1>
        </div>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" (click)="navigateToInicio()">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="miPerfilDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi Perfil</a>
                        <div class="dropdown-menu" aria-labelledby="miPerfilDropdown">
                            <a class="dropdown-item" (click)="navigateToVerUsuario()">Ver usuario</a>
                            <a class="dropdown-item" (click)="navigateToActualizarInformacion()">Actualizar información personal</a>
                            <a class="dropdown-item" (click)="navigateToChangePassword()">Cambiar contraseña</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="cuentaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cuenta</a>
                        <div class="dropdown-menu" aria-labelledby="cuentaDropdown">
                            <a class="dropdown-item" (click)="navigateToNewAccount()">Abrir una nueva cuenta bancaria</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="transaccionesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transacciones</a>
                        <div class="dropdown-menu" aria-labelledby="transaccionesDropdown">
                            <a class="dropdown-item" (click)="navigateToTransfer()">Transferencias</a>
                            <a class="dropdown-item" (click)="navigateToAddContact()">Mis contactos</a>
                            <a class="dropdown-item" (click)="navigateToHistorialTransacciones()">Historial de transacciones</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ayudaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ayuda/Soporte</a>
                        <div class="dropdown-menu" aria-labelledby="ayudaDropdown">
                            <a class="dropdown-item" (click)="navigateToFAQ()">Preguntas frecuentes</a>
                            <a class="dropdown-item" (click)="navigateToContactarSoporte()">Contactar soporte</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">
                            <img src="assets/img/logout-icon.png" alt="Logout" class="logout-icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Formulario de verificación -->
    <div class="verification-form">
        <div class="form-content">
        <form id="verificationForm" (ngSubmit)="onSubmit()" #form="ngForm">
            <h3>Verificación de identidad</h3>
            <p>Se ha enviado un código de verificación a su correo electrónico y/o número de teléfono proporcionado.</p>
          
            <div class="verification-code">
              <input type="text" id="digit1" name="digit1" maxlength="1" [(ngModel)]="digits[0]" (keydown)="onKeyDown($event, 0)" (input)="onInput($event, 0)" required autofocus>
              <input type="text" id="digit2" name="digit2" maxlength="1" [(ngModel)]="digits[1]" (keydown)="onKeyDown($event, 1)" (input)="onInput($event, 1)" required>
              <input type="text" id="digit3" name="digit3" maxlength="1" [(ngModel)]="digits[2]" (keydown)="onKeyDown($event, 2)" (input)="onInput($event, 2)" required>
              <input type="text" id="digit4" name="digit4" maxlength="1" [(ngModel)]="digits[3]" (keydown)="onKeyDown($event, 3)" (input)="onInput($event, 3)" required>
              <input type="text" id="digit5" name="digit5" maxlength="1" [(ngModel)]="digits[4]" (keydown)="onKeyDown($event, 4)" (input)="onInput($event, 4)" required>
            </div>
          
            <div class="buttons">
              <button type="button" (click)="resendCode()">Reenviar código</button>
            </div>
          
            <div class="form-buttons">
                <a routerLink="/inicio">
                    <button type="button" (click)="goBack()" class="button-regresar">Regresar</button>
                </a>
              <button type="submit" class="button-verificar">Verificar</button>
            </div>
          </form> 
        </div>
    </div>
        
    <footer>
        <div class="footer-content">
            <!-- Mensaje de derechos de autor con año actual -->
            <p>&copy; 2024 Banco Politécnico. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>
</html>

