<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Politécnico</title>
    <link rel="icon" type="favicon/x-icon" href="assets/img/banco.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="confirmar-user-recovery.component.css">
</head>
<body>
  <header>
    <!-- Barra de navegación -->
    <div class="navbar">
        <!-- Texto dinámico en la barra de navegación -->
        <div class="text moving-text">Comprometidos contigo, hoy y siempre.</div>
        <nav>
            <ul>
                <li><a routerLink="/home">Inicio</a></li>
                <li><a routerLink="/nosotros">Nosotros</a></li>
                <li><a routerLink="/contactos">Contacto</a></li>
                <li><a routerLink="/ayuda">Ayuda</a></li>

            </ul>
        </nav>
    </div>

</header>

    <div class="success-message-form">
        <div class="form-content">
            <header class="form-header">
                <a routerLink="/update-personal">
                    <button class="back-button">
                        <img src="assets/img/back.png" alt="Back Icon" class="icon" />
                    </button>
                </a>
                <span>Confirmación de Actualización</span>
            </header>
            <div class="form-body">
                <p>Su nombre de usuario ha sido restablecido con éxito.</p>
                <img src="assets/img/comprobado.png" alt="Éxito" class="success-icon" />
                <button class="home-button" (click)="goHome()">Volver a Inicio</button>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Banco Politécnico. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
