<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elección del tipo de cuenta - Banco Politécnico</title>
    <link rel="stylesheet" href="tipo-cuenta.component.css">
    <link rel="icon" type="favicon/x-icon" href="assets/img/banco.png">
</head>
<body>
    <div class="container">
        <!-- Encabezado de la página -->
        <header>
            <div class="header-left">
                <!-- Logotipo del banco -->
                <div class="icono">
                    <img src="assets/img/banco.png" alt="PoliBanco" class="logo">
                    <h1 class="nombre">BANCO<br>POLITÉCNICO</h1>
                </div>
            </div>
            <div class="header-right">
                <p></p>
            </div>
        </header>
        <!-- Contenido principal -->
        <main>
            <!-- Pasos de registro -->
            <div class="main-left">
                <h2>Sigue estos pasos para registrarte </h2>
                <ol>
                    <li class="noactive">
                        <img src="assets/img/paso1.png" alt="Paso 1" class="step-icon">
                        Proporciona tu información personal 
                    </li>
                    <li class="noactive">
                        <img src="assets/img/paso2.png" alt="Paso 2" class="step-icon">
                        Verificación de identidad
                    </li>
                    <li class="noactive">
                        <img src="assets/img/paso3.png" alt="Paso 3" class="step-icon">
                        Crea tu usuario y contraseña 
                    </li>
                    <li class="noactive">
                        <img src="assets/img/paso4.png" alt="Paso 4" class="step-icon">
                        Selecciona preguntas de seguridad
                    </li>
                    <li class="active">
                        <img src="assets/img/paso5.png" alt="Paso 5" class="step-icon active">
                        Elige el tipo de cuenta
                    </li>
                    <li class="noactive">
                        <img src="assets/img/paso6.png" alt="Paso 6" class="step-icon">
                        Confirmación del registro
                    </li>
                </ol>
            </div>
            <!-- Formulario de selección de tipo de cuenta -->
            <div class="account-selection-form">
                <form *ngIf="accountSelectionForm" [formGroup]="accountSelectionForm" (ngSubmit)="onSubmit()">
                    <h3>Elige el tipo de cuenta</h3>
                    <div class="account-types">
                      <div class="account-type">
                        <input type="radio" id="savings" formControlName="accountType" value="savings">
                        <label for="savings">
                          <h4>Cuenta de ahorro</h4>
                          <p>Al seleccionar una cuenta de ahorro, estarás optando por una opción diseñada para guardar dinero a largo plazo y acumular intereses sobre tu saldo, facilitando el ahorro regular y seguro.</p>
                        </label>
                      </div>
                      <div class="account-type">
                        <input type="radio" id="current" formControlName="accountType" value="current">
                        <label for="current">
                          <h4>Cuenta corriente</h4>
                          <p>Al seleccionar una cuenta corriente, tendrás acceso inmediato a tus fondos para gestionar transacciones diarias y pagos frecuentes de manera rápida y conveniente, sin restricciones en el acceso a los fondos.</p>
                        </label>
                      </div>
                    </div>
                    <!-- Mostrar errores de validación -->
                    <div *ngIf="accountSelectionForm.get('accountType')?.invalid && (accountSelectionForm.get('accountType')?.dirty || accountSelectionForm.get('accountType')?.touched)">
                      <p *ngIf="accountSelectionForm.get('accountType')?.errors?.['required']">Debes seleccionar un tipo de cuenta.</p>
                    </div>
                    <!-- Botones de acción del formulario -->
                    <div class="form-buttons">
                      <button type="submit" [disabled]="accountSelectionForm.invalid">Siguiente</button>
                      <button type="button" (click)="goBack()">Regresar</button>
                    </div>
                  </form>
                  
                  
                  
                  
            </div>
        </main>
    </div>

</body>
</html>
